/* Example 1 */

/* body {
  font: 1.2em sans-serif;
}
.wrapper {
  display: flex;
}

.wrapper > * {
  margin: 20px;
}

.box {
  border: 5px solid darkblue;
  height: 100px;
  width: 200px;
} */

/* Example 2 */

/* body {
  font: 1.2em sans-serif;
  width: 50%;
}

.box {
  border: 5px solid darkblue;
  width: 50%;
} */

/* Example 3 */

/* body {
  font: 1.2em sans-serif;
  box-sizing: border-box;
}
.box {
  border: 5px solid darkblue;
  width: 200px;
  margin: 10%;
  padding: 10%;
} */

/* Example 4 */

/* .box {
  width: 200px;
}
.mini-box {
  width: 30px;
}
.width {
  width: 100%;
}
.max {
  max-width: 100%;
} */

/* Example 5 */

body {
  font-family: sans-serif;
}

.box {
  border: 5px solid darkblue;
  width: 20vw;
  height: 20vh;
  font-size: 10vh;
}