body {
  font-family: sans-serif;
}

/* Next-sibling (Следующий брат) combinator */
/* h2 + p {
  font-weight: bold;
  background-color: #333333;
  color: white;
  padding: 0.5em;
} */

/* Descendant (потомок) combinator -  */
.box p { 
  color: red;
}

/* Child combinator */
ul > li {
  border-top: 5px solid red;
}

/* Subsequent-sibling combinator (Комбинатор последующих братьев и сестер) */
h1 ~ p {
  font-weight: bold;
  background-color: #333333;
  color: white;
  padding: 0.5em;
}

