/* <!-- First Example --> */

/* .box {
  background-color: lightblue;
  border: 5px solid darkblue;
  padding: 10px;
  margin: 1em 0;
}

.wrapper {
  font-size: 1em;
}

.wrapper1 {
  font-size: 1.5em;
}

.px {
  width: 200px;
}

.vw {
  width: 10vw;
}

/* 10 раз от размера шрифта ЭТОГО ЭЛЕМЕНТА ✅ 
  .wrapper	1em = 16px	10 × 16px = 160px
  .wrapper1	1.5em = 24px	10 × 24px = 240px */
/* .em {
  width: 10em; 
}  */

/* <!-- Second Example --> */

/* html {
  font-size: 24px;
}

.ems li {
  font-size: 1.3em;
}

.rems li {
  font-size: 1.3rem;
} */

/* <!-- Third Example --> */

/* .wrapper {
  background-image: url("https://mdn.github.io/shared-assets/images/examples/balloons.jpg");
  background-repeat: no-repeat;
  background-position: bottom left;
  padding: 20px;
}

.box {
  margin: 40px auto;
  width: 200px;
  background-color: lightblue;
  border: 5px solid darkblue;
  padding: 30px;
  opacity: 0.94;
} */

/* <!-- Fourth Example --> */

/* .box {
  height: 200px;
  width: 400px;
  background-image: url("https://mdn.github.io/shared-assets/images/examples/big-star.png");
  background-repeat: no-repeat;
  background-position: auto auto;
  margin: 20px auto;
  border-radius: 0.5em;
  border: 5px solid rebeccapurple;
} */

/* <!-- Fifth Example --> */

.wrapper {
  width: 600px;
}
.box {
  padding: 1em;
  border-radius: 0.5em;
  border: 5px solid rebeccapurple;
  background-color: lightblue;
  width: calc(20% + 100px);
}

